$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/"

// bower:scss
@import ../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss
// endbower

.container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-content: stretch
  align-items: stretch

.list,
.dropbox
  order: 0
  flex: 0 1 auto
  align-self: auto

.dropbox
  background-color: black
