<div>
  <div class="list">
    <input type="search" ng-model="search">
    <ul>
      <li class="list-item"
          id="{{ obj.id }}"
          trigger-load
          ng-hide="obj.moved"
          ng-repeat="obj in data | filter:search | orderBy:sort:reverse track by obj.id"
          >
          {{ obj.id }} :: {{ obj.name }} :: {{ obj.sites }}
      </li>
    </ul>
  </div>
  <div>
    <h4>DROP it</h4>
    <ul class="dropbox"></ul>
    <input type="text" id="priorityList" ng-model="priorityList">
  </div>
</div>
